# Environment variables
client/.env
server/.env

# Node modules
client/node_modules/
server/node_modules/
node_modules/


# Optional (recommended)
# Logs
*.log

# OS files
.DS_Store

# Build folders
client/dist/
server/dist/

# Docker file
client/Dockerfile.dev
client/compose.yml


server/pdfs/
server/images/
*.pdf
*jpg
*png




